
@font-face {
    font-family: 'firaCode';
    src: url('/assets/fonts/FiraCode-Light.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'firaCode';
    src: url('/assets/fonts/FiraCode-Retina.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'firaCode';
    src: url('/assets/fonts/FiraCode-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'firaCode';
    src: url('/assets/fonts/FiraCode-Bold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

::selection {
    background: #f86e8f;
    color: #fff;
}

::-moz-selection {
    background: #f86e8f;
    color: #fff;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 17px 17px rgba(0,0,0,0.05);
    border: solid 7px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 17px 17px #f86e8f;
    border: solid 7px transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'firaCode', Consolas;
    font-variant-ligatures: contextual;
    &:focus{
        outline:none;
    }
}

html, body{
    height:100%;
    width:100%;
}

.limit{
    max-width:1040px;
    margin:0 auto;
}

@keyframes fadeFromBottom {
    0% {transform: translateY(50px);opacity:0;}
    100% {transform: translateY(0px);opacity:1;}
} 

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
} 

@keyframes load {
    0% {width: 0%;left:0;}
    50% {width: 100%;left:0;}
    51% {width:100%;right:0;left:inherit;}
    100% {width: 0%;right:0;left:inherit;}
}

@keyframes show {
    0% {opacity:0;}
    99% {opacity:0;}
    100% {opacity:1;}
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #f86e8f;
    }
    100% {
        box-shadow: 0 0 0 0.3em rgba(248, 110, 143, 0);
    }
}

.fadeIn{
    opacity:0;
    animation: fadeIn 0.5s ease-in-out 0s 1 normal forwards;
}

.fadeFromBottom{
    opacity:0;
    animation: fadeFromBottom 0.5s ease-in-out 1s 1 normal forwards;
}

.coolLoad{
    display: block;
    height:100%;
    position:relative;
    overflow:hidden;
    &::before{
        content:'';
        background:#f86e8f;
        width:0;
        height:100%;
        position:absolute;
        left:0;
        top:0px;
        z-index:2;
    }
    .waitLoad{
        opacity:0;
    }
    &.now{
        .waitLoad{
            animation: show 0.5s ease-in-out 0s 1 normal forwards;
        }
        &::before{
            animation: load 1s ease-in-out 0s 1 normal forwards;
        }
    }
    &.dqs{
        .waitLoad{
            animation: show 0.5s ease-in-out 0.25s 1 normal forwards;
        }
        &::before{
            animation: load 1s ease-in-out 0.25s 1 normal forwards;
        }
    }
    &.dhs{
        .waitLoad{
            animation: show 0.5s ease-in-out 0.5s 1 normal forwards;
        }
        &::before{
            animation: load 1s ease-in-out 0.5s 1 normal forwards;
        }
    }
    &.d1s{
        .waitLoad{
            animation: show 0.5s ease-in-out 1s 1 normal forwards;
        }
        &::before{
            animation: load 1s ease-in-out 1s 1 normal forwards;
        }
    }
    &.d1hs{
        .waitLoad{
            animation: show 0.5s ease-in-out 1.5s 1 normal forwards;
        }
        &::before{
            animation: load 1s ease-in-out 1.5s 1 normal forwards;
        }
    }
    &.d2s{
        .waitLoad{
            animation: show 0.5s ease-in-out 2s 1 normal forwards;
        }
        &::before{
            animation: load 1s ease-in-out 2s 1 normal forwards;
        }
    }
}


#root {
    display: block;
    width: 100%;
    &[data-page=loading]{
        &::before{
            content:'';
            width:100%;
            height:calc(100vh - 144px);
            top:144px;
            position:absolute;
            z-index:998;
            background:white;
        }
        @keyframes loadSpinner { 
            0%{
              border-radius: 60% 40%;
              transform:translate(-50%) rotateZ(0deg);
            }
            50%{
              border-radius: 40% 60%;
            }
            100% {
              transform:translate(-50%) rotateZ(360deg);
            }
        }
        &::after{
            content: '';
            width: 40px;
            height: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            position: absolute;
            z-index: 999;
            background: #f86e8f;
            border-radius: 60% 40%;
            animation: loadSpinner 2s linear infinite; 
            box-shadow: 0px 0px 12px 0px #ffeaef;
        }
        main{
            display:none;
        }
    }
    &[data-page^=blogs], &[data-page^=lectures]{
        header{
            .limit{
                max-width:1280px;
            }
        }
        main{
            padding-top:216px;
            max-width:1040px;
            margin:0 auto 144px;
            .audioplayer{
                width: 100%;
                height: 60px;
                margin-bottom: 30pt;
                border: 0;
              button{
                height:60px; 
                width: 60px;
                border: none;
                float:left;
                outline:none;
                background:transparent;
                position:relative;
                &.p .b, &.s .b{
                  left:50%;
                  top:50%;
                  width:33px;
                  height:40px;
                  background:#f86e8f;
                  position:absolute;
                  transition:0.3s width, 0.3s transform;
                  overflow:visible;
                  transform:translate(-50%, -50%);
                  outline:0;
                  border:0;
                  &:before, &:after{
                    position:absolute;
                    width: 0px;
                    height: 0px;
                    left:0;
                    content:'';
                    border-left:66px solid transparent;
                    transition:0.3s transform, 0.3s border-left;
                  }
                  &:before{
                    top:0;
                    border-top:40px solid white;  
                    box-shadow:1px -1px 0px 1px white;
                    border-bottom:0px solid transparent;
                    transform-origin:top left;
                  }
                  &:after{
                    top:0px;
                    border-top:0px solid transparent;  
                    box-shadow:1px 1px 0px 1px white;
                    border-bottom:40px solid white;
                    transform-origin:bottom left;
                  }
                }
                &.s .b{
                    width:40px;
                    &:before, &:after{
                      box-shadow:0px 0px 0px 0px white;
                    }
                    &:before{
                      transform:rotateZ(-31.373deg);
                    }
                    &:after{
                      transform:rotateZ(31.373deg);
                    }
                }
              }
              .l{
                width: calc(100% - 100px);
                height: 60px;
                float: left;
                position:relative;
                margin:0 20px;
                &:before{
                  content:'';
                  width:100%;
                  height:6px;
                  border-radius:3px;
                  left:0;
                  top:27px;
                  background:rgba(0,0,0,0.01);
                  position:absolute;
                  z-index:1;
                }
                .d{
                  width: 20px;
                  height: 20px;
                  background: #f86e8f;
                  transform:translateX(-10px);
                  border-radius:50%;
                  top:20px;
                  position:relative;
                  z-index:2;
                }
              }
            }
            h1{
                font-size:48pt;
                font-weight:500;
                min-height:144px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom:72px;
                cursor:default;
                text-align:center;
            }
            h2, h3, h4, h5, h6{
                padding:50pt 0 10pt;
                max-width:800px;
                margin:0 auto;
            }
            hr{
                max-width: 800px;
                height: 3px;
                background: #f86e8f;
                margin: 0 auto;
                border: none;
                border-radius: 6px;
                margin-bottom: 30pt;
            }
            ul, ol {
                max-width:800px;
                margin:0 auto;
                list-style: none;
                padding: 0;
                padding-bottom: 30pt;
                li {
                    font-size:16pt;
                    line-height:32pt;
                    text-indent: 15pt;
                    vertical-align: middle;
                    word-wrap: break-word;
                    padding:10pt 0;
                    &:before {
                        content: "";
                        width: 6pt;
                        height: 6pt;
                        position: absolute;
                        background: #f86e8f;
                        margin: 13pt 0 0 -15pt;
                        border-radius:6px;
                        transition: 0.5s background; 
                    }
                }
            }
            ol ul li:before {
                border: 1.5pt solid #f86e8f;
                height: 3pt;
                width: 3pt;
                background: transparent;
                transition: 0.5s border;
            }
            p{
                max-width:800px;
                margin:0 auto;
                font-size:15pt;
                padding-bottom:30pt;
                line-height:2em;
                & + p img, & + figure img{
                    margin-top:0;
                }
            }
            figure{
                padding-bottom: 30pt;
                figcaption{
                    padding-top:10pt;
                    text-align:center;
                }
                &.big img{
                    width:100%;
                }
                &.fill{
                    margin-left: auto;
                    margin-right: auto;
                    max-width:800px;
                    img{
                        width:100%;
                    }
                } 
                &.center{
                    text-align:center;
                } 
            }
            blockquote {
                position: relative;
                width:100%;
                margin:30pt auto;
                color: #f86e8f;
                transition: 0.5s color;
                &:before, &:after{
                    width: 50px;
                    height: 50px;
                    line-height:100px;
                    font-weight: 100;
                    font-size:64pt;
                    position: absolute;
                    transition: 0.5s background;
                    color:#eee;
                }
                p {
                    max-width:600px;
                    padding-top:30pt;
                    font-size: 32pt;
                    font-weight: 300;
                    font-style: italic;
                    font-size:32pt;
                    line-height:1.2em;
                    position:relative;
                    word-break: break-word;
                    &:before {
                        content: "“";
                    }
                    &:after {
                        content: "”";
                    }
                    code {
                        display: block;
                        text-align: right;
                        font-size: 14pt;
                        line-height: 40px;
                        margin-top: 10px;
                        border: none;
                        padding: 0px;
                        background:transparent;
                        color:#ccc;
                        font-weight:300;
                        position:absolute;
                        right:0;
                    }
                }
                & + p{
                    padding-top:30pt;
                }
            }
            a{
                text-decoration:none;
                font-weight:500;
                color:#f86e8f;
                display: inline-block;
                &::after{
                    display:inline-block;
                    transition:0.3s transform;
                }
                &.internal::after{
                    content:'\00a0-->';
                }
                &.external::after{
                    content:'\00a0-<<';
                }
                &:hover::after{
                    transform:translateX(3px);
                }
            }
            code {
                background: #f86e8f;
                border-radius: 50px;
                padding: 5pt 0pt;
                color: white;
                word-break: break-word;
                &:before, &:after{
                    content:'\00a0';
                }
            }
            table {
                padding: 0;
                border-spacing: 0;
                border-collapse: collapse;
                border-radius: 5pt;
                overflow: hidden;
                background: rgba(0,0,0,0.01);
                transition: 0.5s background;
                width: 100%;
                margin-bottom:30pt;
                thead {
                    tr {
                        th {
                            padding: 10pt 20pt;
                            border-bottom: 3px solid #f86e8f;
                            color: #4d4949;
                            transition: 0.5s border-bottom, 0.5s color;
                        }
                    }
                }
                tbody {
                    tr {
                        border-bottom: 1pt solid rgba(0,0,0,0.01);
                        transition: 0.5s border-bottom;
                        &:last-child {
                            border: none;
                        }
                        td {
                            padding: 10pt 20pt;
                        }
                    }
                }
            }
            img{
                border-radius: 5pt;
                margin-top:30pt;
                max-width: 100%;
            }
            pre {
                code {
                    &:before, &:after{
                        content:'';
                    }
                    color: #4d4949;
                    background: rgba(0,0,0,0.01);
                    white-space: pre-wrap;
                    margin-bottom: 25pt;
                    border-radius: 3pt;
                    transition: 0.5s color, 0.5s background;
                    padding: 20px 40px;
                    display: inline-block;
                    border: none;
                    width: 100%;
                    white-space: pre-wrap;
                    word-break: break-word;
                    border-radius: 10px;
                    cursor: initial;
                    font-size: 1em;
                    font-weight: 400;
                }
            }
        }
    }
    header {
        width: 100%;
        height: 144px;
        background-color: transparent;
        position:absolute;
        z-index:2;
        .limit{
            display: flex;
            align-items: center;
            height:100%;
            .logo{
                cursor:pointer; 
                left: calc(50% - 50px);
                position:absolute;
                width:100px;
                height:50px; 
                transition:0.5s left; 
                svg{
                    transition:0.3s fill;
                    fill:#4d4949;
                }
                &:hover svg{
                    fill:#f86e8f;
                }
            }
            .menu{
                cursor:pointer; 
                margin-right: auto;
                width:32px;
                height:32px;
                //background-image:url(/assets/img/png/search_black.png);
                display:none;
            }
            .search{
                cursor:pointer; 
                margin-left: auto;
                width:32px;
                height:32px;
                //background-image:url(/assets/img/png/search_black.png);
                display:none;
            }
        }
    }
}

@media screen and (max-width: 1600px) {

} 

@media screen and (max-width: 1360px) {

} 

@media screen and (max-width: 800px) {
    #root[data-page^=blogs], #root[data-page^=lectures]{
        main{
            white-space: pre-line;
            word-break: break-word;
            h1{
                font-size:32pt;
            }
            h2,h3,h4,h5,h6{
                padding: 50pt 10pt 10pt;
            }
            p{
                padding: 0 10pt 30pt;
            }
            pre{
                code{
                    border-radius:0;
                }
            }
            blockquote{
                margin: 0pt auto; 
            }
            table{
                border-radius:0;
            }
            ul, ol {
                margin:0 10pt;
            }
        }
    }
} 

.comments{
    width:800px;
    margin: 0 auto;
    .comment{
        width: 100%;
        font-size:15pt;
        .name{
            font-weight:600;
        }
        .text{
            white-space: pre-line;
            word-break:break-word;
            font-weight: 300;
        }
        .buttons{
            width:100%;
            text-align:right;
            color:#f86e8f;
            font-weight:500;
            *{
                display:inline-block;
                cursor:pointer;
            }
        }
        & > .comment{
            border-left:3px solid #f86e8f;
            padding-left:30pt;
        }
    }
}


.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #f86e8f;
    font-weight: 500;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75
}

.hljs-literal {
    color: #56b6c2
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #98c379
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #e6c07b;
    font-weight: 500;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #65bae4;
    font-weight: 500;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
    font-weight: 500;
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

.hljs-link {
    text-decoration: underline
}